<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>MyWebsite</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
        
        <script>

        </script>
    </head>
    <body>
        <div class="banner">
            <div class="loginMessage">失敗頁面</div>
        </div>

        <div class="responseMessage">
            <p>{{ errorMessage }}</p>
            <a href="http://127.0.0.1:3000/" target="_self">返回首頁</a>
        </div>
    </body>
</html>