<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>MyWebsite</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
        
        <script>

        </script>
    </head>
    <body>
        <div class="banner">
            <div class="loginMessage">歡迎光臨，請輸入帳號密碼</div>
        </div>

        <div class="loginFormDiv">
            <p class="formDescription">登入系統</p>
            <form class="loginForm" action="/signin" method="POST" >
                帳號 <input type="text" name="Account"/><br/><br/>
                密碼 <input type="password" name="Password"><br/>
                <button style="margin-top:10px;">登入</button>
            </form>
   
        </div>
    </body>
</html>